@import "./variables.scss";

*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

span.orange{
    color: $global-orange;
}

.nav{
    position: fixed;
    width: 100vw;
    z-index: 100;
    top: 0px;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 17px;
        border-bottom: 1px solid rgba(159, 159, 159, 0.33);
        margin: 20px 5%;

        img{
            height: 50px;
        }
    }



    ul{
        list-style: none;
        display: flex;

        li{
            margin-left: 35px;
            padding: 5px 7px;
            cursor: pointer;
            min-width: max-content;
            transition: all 0.3s ease;

            &:hover{
                color: $global-orange;
                border-bottom: 1px solid $global-orange;
            }


            a{
                text-decoration: none;
                color: inherit;
            }
        }

        
    }

    .hamburger-menu{
        display: none;
    }

    .close-menu{
        display: none;
    }


    .mobilenav{
        display: none;
    }
}

.hero{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/hero_desktop.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;


    .mobileimg{
        display: none;
    }

    .header_text{
        max-width: 500px;
        position: relative;
        top: calc(50vh - 150px) ;
        left: calc(90vw - 400px); 

        h1{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 137.66%;
            margin-top: 10px;
        }

        p{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 31px;
            margin: 40px 0px;
            margin-top: 10px;
        }

        a{
            color: $global-orange;
            border-bottom: 1px solid $global-orange;
            transition: all 0.3s ease;

            &:hover{
                color: $grey-color;
                border-bottom: 1px solid $grey-color;
            }
        }
    }
}

.footer{
    background-color: $grey-bg;
    padding: 5%;

    .lists{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        img{
            height: 50px;
        }

        ul{
            list-style: none;

            li{
                font-weight: 400;
                max-width: 300px;
                font-size: 16px;
                line-height: 31px;
                color: $grey-color;

                &.header{
                    font-weight: 700;
                    color: black;
                    font-size: 18px;
                    line-height: 195.7%;
                    margin-bottom: 5px;
                }

                &.form{
                    display: flex;
                    margin: 20px 0px;
                    
                    input{
                        padding: 19px 25px;
                        border-radius:  5px 0px 0px 5px;
                        border: 1px solid #BBBBBB;
                        outline: none;
                        background: inherit;
                        width: 200px;
                        border-right: none;

                        &::placeholder{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 31px;
                            color: #797979;
                        }
                    }

                    button{
                        border-radius: 0px 5px 5px 0px;
                        border: none;
                        background-color: $global-orange;
                        outline: none;
                        width: 200px;
                        color: white;
                        cursor: pointer;
                        padding: auto 20px;
                        transition: all 0.3s ease;

                        &:hover{
                            background-color: $lighter-grey;
                        }
                    }
                }
            }
        }
    }
    .icons{
        padding: 30px 0px;
        img{
            cursor: pointer;
            width: 25px;
            height: 25px;
            margin-right: 20px;
        }
    }

    footer{
        border-top: 1px solid #E1E1E1;
        padding-top: 60px;
        color: $lighter-grey;
        font-size: 14px;
    }
}

.features{
    text-align: center;
    padding: 50px 5vw;

    h2{
        font-weight: 700;
        font-size: 30px;
        line-height: 56px;
        text-align: center;
        color: #454545;
        margin: 5px 0px;
    }

    section{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 40px 0px;

        li{
            list-style-type: none;
            margin: 30px 0px;

            img{
                width: 40px;
                height: 40px;
            }

            h4{
                font-weight: 700;
                font-size: 18px;
                margin: 10px 0px;
                line-height: 35px;
            }

            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 31px;
                max-width: 300px;
                margin: 10px 0px;
                margin-bottom: 45px;
            }

            a{
                transition: color 0.3s ease;

                &:hover{
                    color: $global-orange;
                }
            }
        }
    }
}


.trusted{
    background-color: $grey-bg;
    display: flex;
    justify-content: space-between;
    padding: 5vh  5%;
    align-items: center;

    p{
        font-weight: 500;
        font-size: 18px;
        line-height: 195.7%;
        display: flex;
        align-items: center;
        margin: 10px auto;
        width: 100px;
        color: #575757;

    }

    div{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img{
            padding: 10px 7px;
        }
    }
}






// The SCSS for the mobile screen 
@media screen and (max-width: 800px) {
    .nav{


        .top{
            z-index: 100 !important;
            padding-bottom: 10px;
            position: absolute;
            width: 100vw;

            img{
                margin-top: 7px;
                height: 40px;
            }

            ul{
                display: none;
            }
        }
        .hamburger-menu{
            display: block;
            width: fit-content;
            position: fixed;
            top: 40px;
            right: 15px;
    
    
            span.menu-line{
                border-radius: 8px;
                min-width: 25px;
                width: 25px;
                min-height: 1.5px;
                transition: all 0.3s ease;
                margin-bottom: 5px;
                display: block;
                background-color: $grey-color;
            }
        }
    
    
        .close-menu{
            display: block;
            width: fit-content;
            position: fixed;
            top: 40px;
            right: 15px;
    
            span.menu-line{
                border-radius: 8px;
                min-width: 25px;
                width: 25px;
                transition: all 0.3s ease;
                min-height: 1.5px;
                margin-bottom: 4px;
                background-color: $grey-color;
                display: block;
    
    
                &.hide{
                    display: none;
                }
    
                &.left{
                    transform: translateY(3px) rotate(45deg);
                }
    
                &.right{
                    transform: translateY(-3px) rotate(-45deg);
                }
            }
        }


        .mobilenav{
            display: block;
            position: fixed;
            z-index: 1;
            top: 0px;
            font-size: 1.4em;
            width: 0%;
            overflow: hidden;
            height: 100vh;
            background-color:$grey-bg ;
            transition: all 0.5s ease;


            ul{
                height: 30vh;
                margin-top: 35vh;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;


                li{
                    margin-right: 30px;

                    &:hover{
                        border-bottom: none;
                    }
                }
            }

            &.active{
                width: 100%;
            }
        }

    
    }


    .hero{
        height: auto;
        width: auto;
        background-image: none;

        .mobileimg{
            display: block;
            max-height: 80vh;
            overflow: hidden;

            img{
                width: 100vw;
                height: fit-content;
            }
        }

        .header_text{
            max-width: 500px;
            position: static;
            text-align: center;
            padding: 40px 20px;


            h1{
                font-weight: 500;
                font-size: 26px;
                line-height: 147.66%;
            }

            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 195.7%;
                margin: 30px 0px;
            }
        }
    }

    .footer{
        background-color: $grey-bg;
        padding: 5%;
    
        .lists{
            display: block;
    
            img{
                height: 45px;
                margin-bottom: 15px;
            }
    
            ul{
                margin-top: 30px;
    
                li{
                    font-size: 15px;
                }
            }
        }
    
        footer{
            padding-top: 15px;
            padding-bottom: 30px;
            font-size: 14px;
        }
    }
    

    .features{
        section{
            display: block;
        }
    }

    .trusted{
        background-color: $grey-bg;
        display: block;
        justify-content: space-between;
        padding: 4vh  5%;
        align-items: center;
    
        p{
            font-weight: 500;
            font-size: 18px;
            line-height: 195.7%;
            text-align: center;
            display: flex;
            align-items: center;
            width: 100px;
            color: #575757;
    
        }
    
        div{
            width: 100%;
            display: block;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    
}